@import './color';
@import './variables';

body {
  width: $body-width;
  overflow-x: hidden; /* Firefox scrollbar hack */
  max-height: 435px;
  background-color: $color-body;
  color: $color-body-text;
}

.container {
  padding: 1.25em;
}
